/.bundle/
/.yardoc
/_yardoc/
/.yardopts
/coverage/
/doc/
/docs/
/pkg/
/spec/reports/
/spec/support/fixtures/configs/config.yml
/tmp/

Gemfile.lock
*.gem

# rspec failure tracking
.rspec_status

.byebug_history